.profile {
  width: 280px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.description {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #e3e3e3;
}
.profile .avatar {
  background-color: antiquewhite;
  margin: 0 auto;
  border-radius: 50%;
  width: 100px;
  padding: 20px;
  margin-bottom: 20px;
}
.name {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.tag {
  font-style: italic;
  margin-bottom: 10px;
  color: gray;
}
.location {
  font-weight: 500;
  color: gray;
}
.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e3e3e3;
}

.stats .label {
  display: block;
  color: gray;
  margin-bottom: 5px;
}
.quantity {
  display: block;
  color: #000;
  font-weight: 500;
}
.item {
  padding: 10px;
  border: 1px solid #e3e3e3;
  width: 33.33333%;
  background-color: #eee;
}
